<div class="new-dose">

  <h1>Add a new ingredient to <%= @cocktail.name %></h1>

</div>

  <div class='container new-dose-form'>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description%>
      <%= f.association :ingredient %>
      <%= f.button :submit, id: 'btn-create-dose', class: 'btn btn-success' %>
    <% end %>
    <%= link_to 'Back to cocktail', cocktail_path(@cocktail), class: "btn btn-danger", id: "btn-back-to-cocktail" %>
  </div>

